.barcode-screen {
  width: 390px;
  height: 753px;
  position: relative;
  background: white;
  padding-left: 29px;
  padding-right: 29px;
}

.purchase-info {
  width: 100%;

  padding-left: 11px;
  padding-right: 11px;
  padding-top: 9px;
  padding-bottom: 9px;
  border-radius: 2px;
  border-bottom: 2px solid #fd5732;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
}

.purchase-text {
  width: 100%;
  height: 100%;
  text-align: center;
  color: black;
  font-size: 24px;
  font-family: "Pretendard", sans-serif; /* Pretendard 폰트가 웹에서 사용 가능해야 합니다. */
  font-weight: 400;
  word-wrap: break-word;

  white-space: nowrap; /* 텍스트를 한 줄로 표시 */
  letter-spacing: -3px; /* 자간을 줄이려면 음수 값을 사용합니다. */
}

.product-img {
  height: 100%;
  width: 100%;
}
